<template>
  <div>
    <NavigationDrawer :behaviour="behaviour"/>
    <div id="main">
      <div class="content">
        <div class="buttons-container">
          <div>
            <span class="status-text">Drawer content behaviour: <b>{{behaviour}}</b> </span>
            <button class="toggle-button button-margin" @click="behaviour = 'push'">Drawer Push Content</button>
            <button class="toggle-button" @click="behaviour = 'overflow'">Drawer overflows the content</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import NavigationDrawer from './components/NavigationDrawer.vue'
import { ref } from 'vue'

const behaviour = ref('push')
</script>

<style lang="scss">
#main {
  display: flex;
  transition: all .4s ease;
  margin-left: 4.35rem;
  height: 100vh;
}
.buttons-container {
  display: flex;
  flex-direction: row;
}
.content {
  width: 100%;
  background-color: #fa6324;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-button {
  background-color: white;
}
.toggle-button:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}
.button-margin {
  margin-right: 0.55em;
}
.status-text {
  color: white;
  margin-right: 2em;
  font-style: italic;
}
</style>
